/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 avr. 2018, 08:53:11
    Author     : Pierre
*/
@import url(https://fonts.googleapis.com/css?family=Sarala);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

body{
    margin: 0px;
    padding: 0px;
    font-family: "Sarala", sans-serif;
    background-image: url("NY2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
}
header{
    background-color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: space-around;
    align-items: center; /*centre sur l'axe secondaire : vertical*/
    font-family: "Fira+Sans", sans-serif;
    color: #762E7D;
}

#bouton{/*Bouton se déconnecter*/
    border: none;
    color: white;
    background-color: #762E7D;
    font-size: 1em;
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer; /*change le curseur*/
}

#bouton:hover{
    color: #762E7D;
    background-color: #D3DBDE;
}
/*---------------------------------------------------TABLEAU---------------------------------------------------------------------------*/
table
{
    margin-top: 2%;
    margin-left: 30%;
}
tr th{

    background-color: #762E7D;
    color: white;
}
.boutonTableau{
    border: 1px solid #330E3B;
    background-color: #D3DBDE;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #762E7D;
}

.boutonTableau:hover{
    background-color: #330E3B;
    color: white;
}

caption{
    font-size: 1.2em;
}
/*-------------------------------------------------FORMULAIRE----------------------------------------------------------------------------*/
#orderForm{
    background-color: rgba(255,255,255,0.9);
    border-style: solid;
    margin-right: 31%;
    margin-left: 31%;
    margin-top: 5%;
    text-align: center;
    padding-bottom: 1%;
}

#orderForm div{ /*Boutons annuler, modifier et ajouter*/
    margin-top: 20px;

}

#formulaire{
    margin-left: 18%;
    text-align: left;
}
label
{
    display: block;
    width: 200px;
    float: left;
}

.boutonBasique{
    border: 2px solid #330E3B;
    color: white;
    background-color: #762E7D;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5%;
    width: 20%;
    cursor: pointer;
}
.boutonBasique:hover{
    color: #762E7D;
    background-color: #D3DBDE;
}

/*----------------RESPONSIVE----------------------*/
@media screen and (max-width: 1200px){
    header img{
        display: none;
    }
    table
    {
        margin-left: 15%;
    }
    #orderForm{

        margin-right: 20%;
        margin-left: 20%;
        margin-top: 2%;

    }
}

@media screen and (max-width: 1000px){
    header h1{
        font-size: 1.5em;
    }
    table
    {
        margin-left: 1%;
    }
    #orderForm{

        margin-right: 13%;
        margin-left: 1%;
        margin-top: 1%;

    }

}

@media screen and (max-width: 800px){

    header h1{
        display: none;
    }
    header img{
        display: flex;
    }
    #bouton{
        font-size: 0.8em;
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 8%;
        padding-bottom: 8%;

    }
    table{
        display: block;
        overflow-x: scroll;
    }

    table h2{
        text-align: left;
    }
    .boutonBasique{
        width: 24%;
        margin-right: 2%;
    }
}